<ul class="steps steps-vertical lg:steps-horizontal w-full mb-8">
  <li class="step step-primary">Inscription</li>
  <li class="step">Demande</li>
  <li class="step">Traitement</li>
  <li class="step">Réception</li>
</ul>