<div>
  <h1>État de la demande modifiée</h1>

  <p>
    <strong>Nouvel état : </strong>
    <%= @demande.workflow_state %>
  </p>

  <p>
    <%= link_to 'Consulter l\'état de mes demandes', pages_welcome_url %>
  </p>
</div>