<div>
  <h1>Nouvelle demande</h1>

  <p>
    <strong>Nom : </strong>
    <%= @demande.nom %>
  </p>

  <p>
    <strong>Type de demande : </strong>
    <%= @demande.type_document %>
  </p>
  <p>
    <%= link_to 'Voir la demande', @demande %>
  </p>
</div>