<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Modification demande</h1>

  <%= render "form", demande: @demande %>

  <%= link_to "Voir la demande", @demande, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Retour aux demandes", current_user.administrateur? ? admin_index_path : demandes_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
